@{
    ViewBag.Title = "QWERTY CTF";
}

<div class="jumbotron">
    <h1>QWERTY CTF</h1>
    <p class="lead">Best CTF Platform</p>
    <p>
        <a href="link to start" class="btn btn-primary btn-lg">Learn More &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register to get full access to our CTF Platform
        </p>
        <p>
            <a class="btn btn-default" href="LINK TO REGISTER THERE">Register &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Already have account ?</h2>
        <p>Entry in your account and enjoy learning in practice</p>
        <p>
            <a class="btn btn-default" href="LINK TO LOG IN PAGE THERE">Log in &raquo;</a>
        </p>
    </div>
</div>